.container {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  border-bottom: 1px solid var(--primitive-slate-950);
  &__left , &__right {
    width: fit-content;
    display: flex;
    height: 56px;
  }
}
