.projectsPage {
  width: 100%;
  display: grid;
  grid-template-columns: 311px 1fr;
  overflow: hidden;

  @media(max-width: 920px) {
    grid-template-columns:1fr;
  }
}

.projectsPage_content {
  width: 100%;
  height: calc(100vh - 112px);
  padding: 30px;
  overflow-y: auto;

  @media (max-width: 920px) {
    height: calc(100vh - 161px);
  }
}

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 24px;
}

