.table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 146px;
  position: relative;

  @media (max-width: 940px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.leftPart {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 75px;
  z-index: 999;

  &_info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 8px;
    z-index: 999;

    span:nth-child(1) {
      font-size: clamp(14px, 2vw, 18px);
      line-height: 27px;
    }

    span:nth-child(2) {
      font-size: clamp(40px, 6vw, 60px);
      line-height: 66px;
      width: 100px;
      color: var(--theme-heading-foreground);

      @media(max-width: 1040px) {
        line-height: 56px;
      }
    }

    span:nth-child(3) {
      font-size: clamp(20px, 4vw, 30px);
      line-height: 42px;
      color: var(--primitive-indigo-500);
    }
  }

  &_github {
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 999;
    span:nth-child(1) {
      font-size: clamp(10px, 2vw, 16px);
      line-height: 24px;
    }
    span:nth-child(2) {
      display: flex;
      align-items: center;
      gap: 8px;
      span:nth-child(1) {
        color:var(--primitive-indigo-500);
      }
      span:nth-child(2) {
        color:var(--primitive-teal-400);
      }
      span:nth-child(3) {
        color:var(--theme-heading-foreground);
      }
      a {
        color:var(--primitive-rose-300);
        font-size: clamp(10px, 2vw, 16px);
        text-decoration:underline ;
      }
    }
  }
}

.rightPart {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 2;
  gap: 16px;

  @media (max-width: 940px) {
    display: none;
  }
}

.green {
  position: absolute;
  width: 400px;
  right: 650px;
  top: 100px;
  opacity: 0.5;
  filter: blur(80px);
  border-radius: 20px;
  height: 400px;
  z-index: 1;
  background:var(--primitive-teal-400) ;

  @media(max-width: 1040px) {
    right: 500px;
  }

  @media(max-width: 787px) {
    right: 300px;
  }

  @media(max-width: 484px) {
    right: 100px;
  }
}

.purple {
  position: absolute;
  width: 400px;
  top: 400px;
  right:200px;
  opacity: 0.5;
  filter: blur(80px);
  border-radius: 20px;
  height: 400px;
  z-index: 1;
  background:var(--primitive-indigo-500) ;
  @media(max-width: 1040px) {
    right:100px;
  }
  @media(max-width: 484px) {
    right: 50px;
  }
}
