@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400; /* Regular */
  src: url("../../../public/fonts/regular/FiraCode-Regular.eot") format("eot"),
  url("../../../public/fonts/regular/FiraCode-Regular.woff2") format("woff2"),
  url("../../../public/fonts/regular/FiraCode-Regular.woff") format("woff"),
  url("../../../public/fonts/regular/FiraCode-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 500; /* Medium */
  src: url("../../../public/fonts/medium/FiraCode-Medium.eot") format("eot"),
  url("../../../public/fonts/medium/FiraCode-Medium.woff2") format("woff2"),
  url("../../../public/fonts/medium/FiraCode-Medium.woff") format("woff"),
  url("../../../public/fonts/medium/FiraCode-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 300; /* Light */
  src: url("../../../public/fonts/light/FiraCode-Light.eot") format("eot"),
  url("../../../public/fonts/light/FiraCode-Light.woff2") format("woff2"),
  url("../../../public/fonts/light/FiraCode-Light.woff") format("woff"),
  url("../../../public/fonts/light/FiraCode-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 600; /* Retina */
  src: url("../../../public/fonts/retina/FiraCode-Retina.eot") format("eot"),
  url("../../../public/fonts/retina/FiraCode-Retina.woff2") format("woff2"),
  url("../../../public/fonts/retina/FiraCode-Retina.woff") format("woff"),
  url("../../../public/fonts/retina/FiraCode-Retina.ttf") format("truetype");
}


@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 700; /* Bold */
  src: url("../../../public/fonts/bold/FiraCode-Bold.eot") format("eot"),
  url("../../../public/fonts/bold/FiraCode-Bold.woff2") format("woff2"),
  url("../../../public/fonts/bold/FiraCode-Bold.woff") format("woff"),
  url("../../../public/fonts/bold/FiraCode-Bold.ttf") format("truetype");
}
